<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="https://kit.fontawesome.com/0cdd49373d.js" crossorigin="anonymous"></script>
</head>
<body>


<div th:fragment="header" th:remove="tag">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}" >CryptoTracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="currencyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Currency
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" onclick="saveCurrency('PLN')">PLN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" onclick="saveCurrency('USD')">USD</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">

          <div sec:authorize="isAuthenticated()">
            <div class="nav-item dropdown d-flex">
              <i style="font-size: 24px; margin-right: 10px;" class="fas">&#xf406;</i>
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a th:href="@{/logout}" class="dropdown-item">Logout</a></li>
              </ul>
            </div>
          </div>

          <div sec:authorize="isAnonymous()">
            <a class="btn btn-outline-success m-2" th:href="@{/login}">Log In</a>
            <a class="btn btn-outline-success m-2" th:href="@{/register}">Register</a>
          </div>

        </form>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/common.js}"></script>
  <script src="https://kit.fontawesome.com/0cdd49373d.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0cdd49373d.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
</div>


</body>
</html>